In [2]:
%load_ext sql
%sql sqlite:///Data.db

'Connected: @Data.db'

Which brand saw the most dollars spent in the month of June?

In [7]:
%%sql
SELECT  b.NAME
FROM Brands b,  Items i
Where b.BRAND_CODE = i.BRAND_CODE
OR b.BARCODE = i.BARCODE
GROUP BY b.NAME
ORDER BY sum(i.TOTAL_FINAL_PRICE) DESC
Limit 1;

 * sqlite:///Data.db

In [3]:
%%sql
SELECT  b.NAME, sum(i.TOTAL_FINAL_PRICE)
FROM Brands b,  Items i
Where b.BRAND_CODE = i.BRAND_CODE
GROUP BY b.BRAND_CODE
ORDER BY sum(i.TOTAL_FINAL_PRICE) DESC
Limit 2;

 * sqlite:///ebay.db
Done.

[(80,)]

In [4]:
%%sql 
SELECT COUNT(*) AS NumItemsWith4Categories
FROM (
    SELECT ItemID, COUNT(*) as Count
    FROM Categories
    GROUP BY ItemID
) AS catCount
WHERE Count = 4

 * sqlite:///ebay.db
Done.

[(8365,)]

In [5]:
%%sql 
SELECT ItemID
FROM Items
ORDER BY Currently DESC
LIMIT 1

 * sqlite:///ebay.db
Done.

[(1046871451,)]

In [6]:
%%sql 
SELECT Count(*) AS NumSellersWithRatingOver1000
FROM Sellers
WHERE Rating > 1000

 * sqlite:///ebay.db
Done.

[(3130,)]

In [7]:
%%sql
SELECT COUNT(*) AS NumUsers
FROM Sellers s, Bidders b
WHERE s.UserID = b.UserID

 * sqlite:///ebay.db
Done.

[(6717,)]

In [8]:
%%sql
SELECT COUNT(*) AS NumCategories
FROM (
    SELECT c.Name
    FROM Categories c, (SELECT ItemID
    FROM Bids
    WHERE Amount > 100
    GROUP BY ItemID) AS expenSive
    WHERE c.ItemID = expenSive.ItemID
    GROUP BY Name
) As catNames

 * sqlite:///ebay.db
Done.

[(150,)]